.subContent {
    margin: 20px;
}

.itemControl {
    overflow: auto;
    padding: 5px;
}

.cartSelection {
    float: right; 
}

.cartSelection div {
    float: left; 
}

.visibility {
    margin-right: 5px;
}

.prompt {
    float: left; 
    margin-top: 20px;
    height: 30px;
    margin-bottom: 10px;
}