<ng-container *ngFor="let order of DL.ShowcaseUserOrders">
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">{{ order.Status }} {{ GetDate(order.ActionDate) | date : 'short' }} </div>
    </div>
    <div class="subContent">
      <table>
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Description
            </th>
            <th class="totalColumn">
              Price / QTY
            </th>
            <th class="totalColumn">
              Total
            </th>
            <th class="rightRow">
              Action
            </th>
          </tr>
        </thead>
        <ng-container *ngFor="let info of order.Items; let num = index;">
          <tr>
            <td>
              {{ (info.Price) ? num+1 : '' }}
            </td>
            <td>
              {{ info.Description }}
            </td>
            <td class="totalColumn">
              {{ info.Price | number:'1.2-2' }} x {{ info.Quantity }}
            </td>
            <td class="totalColumn">
              {{ info.Total | number:'1.2-2' }}
            </td>
            <td class="rightRow">
              <ng-container>
                <button md-mini-fab [disabled]="order.Status != DL.STATUS_SELECTING" color="warn" (click)="Delete(info)" mdTooltip="Delete" mdTooltipPosition="above"><md-icon>delete</md-icon></button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <tr class="blankCell">
          <td></td>
          <td>
            Total
          </td>
          <td class="totalColumn">
            {{ order.Count }}
          </td>
          <td class="totalColumn">
            {{ order.Amount | number:'1.2-2' }}
          </td>
          <td></td>
        </tr>
      </table>
      <div class="hSpacer"></div>
      <div class="itemControl mainColor">
        <div class="cartSelection">
          <div *ngIf="!isCheckingout && order.Status == DL.STATUS_SELECTING">
            <button md-raised-button (click)="ShowCheckout()">
              <md-icon>done</md-icon>
              <span>Checkout</span>
            </button>
          </div>
          <div *ngIf="isCheckingout && order.Status == DL.STATUS_SELECTING">
            <button md-raised-button (click)="HideCheckout()">
              <md-icon>assignment_return</md-icon>
              <span>Cancel</span>
            </button>
            <button md-raised-button (click)="Checkout(order)">
              <md-icon>done_all</md-icon>
              <span>Confirm</span>
            </button>
            </div>
          <div *ngIf="order.Status != DL.STATUS_SELECTING">
            <button md-raised-button (click)="ViewStatus(order)">
              <md-icon>event_note</md-icon>
              <span>Check Status</span>
            </button>
          </div>
        </div>
      </div>
      <div class="vSmallSpacer"></div>
    </div>
  </div>
</ng-container>
<div class="rightRow mainColor">
  <button md-raised-button (click)="LoadList()" mdTooltip="Back to item selection" mdTooltipPosition="above">
    <md-icon>shopping_cart</md-icon>
    <span>Back to shop</span>
  </button>
</div>