<div>
  <div>
    <md-input-container>
      <input id="txtCode" mdInput placeholder="Code" [(ngModel)]="model.Code" />
    </md-input-container>
  </div>
  <div>
    <md-input-container class="longText">
      <input id="txtName" mdInput placeholder="Name" [(ngModel)]="model.Name" />
    </md-input-container>
  </div>
  <div>
    <md-input-container class="fullWidth">
      <textarea id="txtDescrption" mdInput placeholder="Description" [(ngModel)]="model.Description">
        </textarea>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input id="txtPrice" type="number" mdInput placeholder="Price" [(ngModel)]="model.Price" />
    </md-input-container>
  </div>
  <input #fileSelector id="file" [hidden]="true" type="file">
  <img class="fullWidth" style="cursor:pointer;" src="{{model.ImageURL}}" (click)="selectFile()" />
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab [disabled]="(!DL.UserAccess.ShowcaseEdit && model.key) || (!DL.UserAccess.ShowcaseAdd && !model.key)" (click)="Save()" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
    <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
  </div>
</div>