::ng-deep .mat-slide-toggle-content {
    font-size: inherit;
}

.accessLabel {
    height: 25px;
    vertical-align: bottom;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.subAccess {
    width: 30%;
}