<div>
  <fieldset>
    <legend>Cart Items</legend>
    <table>
      <thead>
        <tr>
          <th>
            Description
          </th>
          <th class="totalColumn">
            Price / QTY
          </th>
          <th class="totalColumn">
            Total
          </th>
          <th></th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <ng-container *ngIf="DL.SellInfosCount < 1;else showCart">
        <tr class="blankCell">
          <td colspan="5">
            no item to cart
          </td>
        </tr>
      </ng-container>
      <ng-template #showCart>
        <ng-container *ngFor="let info of DL.SellInfos">
          <tr>
            <td>
              {{info.Description}}
            </td>
            <td class="totalColumn">
              {{ info.Price | number:'1.2-2' }} x {{ info.Quantity }}
            </td>
            <td class="totalColumn">
              {{info.Total | number:'1.2-2'}}
            </td>
            <td></td>
            <td>
              <ng-container *ngIf="info.Price">
                <button md-mini-fab (click)="Delete(info)" mdTooltip="Delete" mdTooltipPosition="above"><i class="material-icons">delete</i></button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <tr class="blankCell">
          <td>
            Total
          </td>
          <td class="totalColumn">
            {{ DL.SellInfosCount }}
          </td>
          <td class="totalColumn">
            {{ DL.SellInfosAmount | number:'1.2-2'}}
          </td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </table>
  </fieldset>
  <table>
    <tr class="rightRow">
      <td class="selectionRow" style="width: 60%">
        <md-select class="product" placeholder="Product" [(ngModel)]="model" (change)="productSelected()">
          <md-option *ngFor="let product of DL.Products" [value]="product">
            {{ product.Description }} ({{ product.Code }})
          </md-option>
        </md-select>
        <md-select placeholder="Quantity" [(ngModel)]="selectedQuantity">
          <md-option *ngFor="let quantity of quantities" [value]="quantity">
            {{quantity}}
          </md-option>
        </md-select>
      </td>
      <td class="selectionRow">
        <md-select class="member" placeholder="Member" [(ngModel)]="selectedMember">
          <md-option *ngFor="let member of this.DL.MemberSelections" [value]="member">
            {{ member.Name }}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr class="rightRow">
      <td>
        <button md-fab [disabled]="!selectedQuantity" (click)="AddProduct()" mdTooltip="Add to cart" mdTooltipPosition="above"><i class="material-icons">add_shopping_cart</i></button>
      </td>
      <td>
        <button md-fab [disabled]="!DL.SellInfosCount" (click)="Done()" mdTooltip="Done" mdTooltipPosition="above"><i class="material-icons">payment</i></button>
      </td>
    </tr>
  </table>
</div>