.product {
    width: 170px;
}

.member {
    width: 140px;
}

.rightRow td {
    text-align: right;
}

.selectionRow {
    vertical-align: bottom;
}

.selectionRow md-select {
    padding-top: 25px;
}

::ng-deep .mat-select-trigger {
    font-size: inherit;
}