td {
    width: 100px;
}

.product {
    width:  200px;
}

.quantity {
    margin-left: 20px;
    margin-right: 20px;
    width:  100px;
}

.hSpacer {
    height: 30px;
    border-bottom: 1px black solid;
}