td {
    width: 100px;
}

.product {
    width:  250px;
}

.quantity {
    margin-left: 20px;
    margin-right: 20px;
    width:  100px;
}

.blankCell {
    height: 50px;
}

.numberCell {
    text-align: right;
}