<div>
  <fieldset>
    <legend>Cart Items</legend>
    <table>
      <thead>
        <tr>
          <td>
            CODE
          </td>
          <td>
            DESCRIPTION
          </td>
          <td class="numberCell">
            QUANTITY
          </td>
          <td class="numberCell">
            PRICE
          </td>
          <td class="numberCell">
            TOTAL
          </td>
          <td>
          </td>
          <td>
            ACTIONS
          </td>
        </tr>
      </thead>
      <ng-container *ngFor="let info of DL.SellInfos">
        <tr>
          <td>
            {{info.Code}}
          </td>
          <td>
            {{info.Description}}
          </td>
          <td class="numberCell">
            {{info.Quantity}}
          </td>
          <td class="numberCell">
            {{info.Price | number:'1.2-2'}}
          </td>
          <td class="numberCell">
            {{info.Total | number:'1.2-2'}}
          </td>
          <td>
          </td>
          <td>
            <ng-container *ngIf="info.Price; else elseBlock">
              <button md-mini-fab (click)="Delete(info)" mdTooltip="Delete" mdTooltipPosition="above"><i class="material-icons">delete</i></button>
            </ng-container>
            <ng-template #elseBlock>
              <div class="blankCell"></div>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </table>
  </fieldset>
  <div class="hSpacer"></div>
  <div>
    <md-select class="product" placeholder="Product" [(ngModel)]="model" (change)="productSelected()">
      <md-option *ngFor="let product of DL.Products" [value]="product">
        {{ product.Description }} ({{ product.Code }})
      </md-option>
    </md-select>
    <md-select class="quantity" placeholder="Quantity" [(ngModel)]="selectedQuantity">
      <md-option *ngFor="let quantity of quantities" [value]="quantity">
        {{quantity}}
      </md-option>
    </md-select>

    <button md-fab (click)="AddProduct()" mdTooltip="Add to cart" mdTooltipPosition="above"><i class="material-icons">add_shopping_cart</i></button>
    <button md-fab (click)="Done()" mdTooltip="Done" mdTooltipPosition="above"><i class="material-icons">payment</i></button>
  </div>
</div>