<div>
  <div>
    <md-input-container>
      <input id="txtStart" mdInput readonly placeholder="Start" value="{{ getDate(model.ActionStart) | date : 'shortTime' }}" />
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input id="txtLast" mdInput readonly placeholder="Last Update" value="{{ getDate(model.ActionLast) | date : 'shortTime' }}" />
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input id="txtStatus" mdInput readonly placeholder="Status" [(ngModel)]="model.Status"  />
    </md-input-container>
  </div>
  <div class="vSmallSpacer"></div>
  <div>
    <md-select placeholder="Assigned" class="longText" [(ngModel)]="selectedUser">
      <md-option *ngFor="let item of this.DL.UserSelections" [value]="item">
        {{ item.Name }}
      </md-option>
    </md-select>
  </div>
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab (click)="Save()" [disabled]="!DL.UserAccess.ReportBalanceStartEdit && !DL.UserAccess.ReportBalanceActualEdit" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
    <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
  </div>
</div>