<div>
  <div>
    <md-form-field class="longText">
      <input id="txtName" mdInput placeholder="Name" [(ngModel)]="model.Name" />
    </md-form-field>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtEmail" readonly mdInput placeholder="Email" [(ngModel)]="model.Email" />
    </md-form-field>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtAddress1" mdInput placeholder="Address #1" [(ngModel)]="model.Address1" />
    </md-form-field>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtAddress2" mdInput placeholder="Address #2" [(ngModel)]="model.Address2" />
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input id="txtContact1" mdInput placeholder="Contact #1" [(ngModel)]="model.Contact1" />
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input id="txtContact2" mdInput placeholder="Contact #2" [(ngModel)]="model.Contact2" />
    </md-form-field>
  </div>
  <div class="vSmallSpacer"></div>
  <input #fileSelector id="file" [hidden]="true" type="file" accept="image/*">
  <div class="imageContainer">
    <img class="fullWidth" src="{{model.SystemImageURL}}" (load)="ImageLoaded()">
    <div class="imageEdit" [hidden]="!isLoaded">
      <div (click)="SelectFile()">Update</div>
      <div (click)="ResetPicture()">Reset</div>
    </div>
  </div>
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab (click)="Save()" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
  </div>
</div>