<div>
  <fieldset>
    <legend>Product Detail</legend>
    <div>
      <md-input-container>
        <input id="txtCode" mdInput placeholder="Code" [(ngModel)]="model.Code" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input id="txtDescription" mdInput placeholder="Description" [(ngModel)]="model.Description" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input id="txtBuy" type="number" mdInput placeholder="Buy Price" [(ngModel)]="model.BuyPrice" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input id="txtSell" type="number" mdInput placeholder="Sell Price" [(ngModel)]="model.SellPrice" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input id="txtQuantity" type="number" mdInput placeholder="Quantity" [(ngModel)]="model.Quantity" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input id="txtNotifyQuantity" type="number" mdInput placeholder="Notify Quantity" [(ngModel)]="model.NotifyQuantity" />
      </md-input-container>
    </div>
  </fieldset>
  <div class="hSpacer"></div>
  <div>
    <button md-fab (click)="Save()" mdTooltip="Save" mdTooltipPosition="above"><i class="material-icons">save</i></button>
    <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><i class="material-icons">assignment_return</i></button>
  </div>
</div>