<div>
    <fieldset>
      <legend>Product Detail</legend>
      <div>
        <label for="txtCode">Code</label>
        <input id="txtCode" [(ngModel)]="model.Code" />
      </div>
      <div>
        <label for="txtDescription">Description</label>
        <input id="txtDescription" [(ngModel)]="model.Description" />
      </div>
      <div>
        <label for="txtBuy">Buy</label>
        <input id="txtBuy" [(ngModel)]="model.BuyPrice" />
      </div>
      <div>
        <label for="txtSell">Sell</label>
        <input id="txtSell" [(ngModel)]="model.SellPrice" />
      </div>
      <div>
        <label for="txtQuantity">Quantity</label>
        <input id="txtQuantity" [(ngModel)]="model.Quantity" />
      </div>

      <div>
        <button md-raised-button (click)="Save()">Save</button>
        <button md-raised-button (click)="LoadProductList()">Back to list</button>
      </div>
    </fieldset>
</div>