<div class="navbar">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()" mdTooltip="Open menu" mdTooltipPosition="below">
      <md-icon>menu</md-icon>
    </button> TEMP System
    <div class="h-spacer"></div>
    <ng-container *ngIf="DL.User.UID">
      <button md-button (click)="LoadPage('report-list')" class="title" mdTooltip="Dashboard" mdTooltipPosition="below">
        <img md-card-avatar src="{{DL.User.ImageURL}}"> 
      </button>
    </ng-container>
  </md-toolbar>
</div>
<md-sidenav-container class="navContainer">
  <md-sidenav #sidenav (click)="sidenav.toggle()">
    <div class="navSide">
      <div class="vBigSpacer">
        <md-menu #menu="mdMenu"></md-menu>
      </div>
      <button md-menu-item (click)="LoadPage('dashboard-home')">
        <md-icon>home</md-icon>
        <span>Home</span>
      </button>
      <ng-container *ngIf="DL.UserAccess.ProductView">
        <button md-menu-item (click)="LoadPage('product-list')">
          <md-icon>book</md-icon>
          <span>Product</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.SellView">
        <button md-menu-item (click)="LoadPage('product-sell')">
          <md-icon>shopping_cart</md-icon>
          <span>Sell</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.MemberView">
        <button md-menu-item (click)="LoadPage('member-list')">
          <md-icon>card_membership</md-icon>
          <span>Member</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.ExpenseView">
        <button md-menu-item (click)="LoadPage('report-expense')">
          <md-icon>broken_image</md-icon>
          <span>Expense</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.ShowcaseView">
        <button md-menu-item (click)="LoadPage('showcase-list')">
          <md-icon>pages</md-icon>
          <span>Showcase</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.TransactionView">
        <button md-menu-item (click)="LoadPage('transaction-list')">
          <md-icon>payment</md-icon>
          <span>Transaction</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.ProductCancelView">
        <button md-menu-item (click)="LoadPage('transaction-cancel')">
          <md-icon>restore</md-icon>
          <span>Cancelled</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.ReportView">
        <button md-menu-item (click)="LoadPage('report-list')">
          <md-icon>note</md-icon>
          <span>Report</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.UserView">
        <button md-menu-item (click)="LoadPage('user-list')">
          <md-icon>accessibility</md-icon>
          <span>User</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.UserAccess.AccessView">
        <button md-menu-item (click)="LoadPage('access-list')">
          <md-icon>settings_applications</md-icon>
          <span>Access</span>
        </button>
      </ng-container>
      <ng-container *ngIf="DL.User.UID;else showSignOut">
        <button md-menu-item (click)="DA.LogOut()">
          <md-icon>lock</md-icon>
          <span>Log Out</span>
        </button>
      </ng-container>
      <ng-template #showSignOut>
        <button md-menu-item (click)="DA.LogInWithFacebook()">
          <md-icon>lock_open</md-icon>
          <span>Log In</span>
        </button>
      </ng-template>
      <div class="vMediumSpacer"></div>
    </div>
  </md-sidenav>
  <div id="divMain" class="content">
    <div class="divBody">
      <div class="vBigSpacer"></div>
      <div class="main">
        <md-toolbar>
          <div class="header">{{ DL.TITLE }}</div>
        </md-toolbar>
        <md-card>
          <md-card-content>
            <div class="vSmallSpacer"></div>
            <ng-container #viewChild></ng-container>
            <div class="vMediumSpacer"></div>
          </md-card-content>
        </md-card>
      </div>
      <div class="vMediumSpacer"></div>
    </div>
    <div class="footer">
     <div><img md-card-avatar src="favicon-192x192.png"></div> <div>TEMP System Copyright © {{ DL.Date.getFullYear() }}</div>
    </div>
  </div>
</md-sidenav-container>
