<div class="navbar">
  <div class="left">
    <div>
      <button md-icon-button (click)="ToggleNav()" mdTooltip="Open menu" mdTooltipPosition="below">
        <md-icon>menu</md-icon>
      </button>
    </div>
    <div>
      {{ DL.SystemSetting.Name }}
    </div>
  </div>
  <div class="right">
    <div *ngIf="DL.ShowcaseUserHasOrder">
      <button md-icon-button (click)="LoadPage('showcase-cart')" mdTooltip="Open cart" mdTooltipPosition="below">
        <md-icon>shopping_cart</md-icon>
      </button>
    </div>
    <div>
      <ng-container *ngIf="DL.User.UID">
        <button md-icon-button (click)="LoadProfile()" class="title" mdTooltip="Update Profile" mdTooltipPosition="below">
          <img md-card-avatar src="{{DL.User.SystemImageURL}}"> 
        </button>
      </ng-container>
    </div>
  </div>
</div>
<div class="overlay" [style.width]="navWidth" (click)="ToggleNav()">
  <div class="navSide">
    <div class="vBigSpacer">
      <md-menu #menu="mdMenu"></md-menu>
    </div>
    <button md-menu-item (click)="LoadPage('dashboard-home')">
      <md-icon>home</md-icon>
      <span>Home</span>
    </button>
    <ng-container *ngIf="DL.UserAccess.MemberView">
      <button md-menu-item (click)="LoadPage('member-list')">
        <md-icon>account_box</md-icon>
        <span>Member</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ProductView">
      <button md-menu-item (click)="LoadPage('product-list')">
        <md-icon>card_giftcard</md-icon>
        <span>Product</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ShowcaseView">
      <button md-menu-item (click)="LoadPage('showcase-list')">
        <md-icon>shop</md-icon>
        <span>Showcase</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SellView">
      <button md-menu-item (click)="LoadPage('product-sell')">
        <md-icon>shopping_cart</md-icon>
        <span>Sell</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.DeliveryView">
      <button md-menu-item (click)="LoadPage('delivery-list')">
        <md-icon>send</md-icon>
        <span>Delivery</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.TransactionView">
      <button md-menu-item (click)="LoadPage('transaction-list')">
        <md-icon>payment</md-icon>
        <span>Transaction</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ExpenseView">
      <button md-menu-item (click)="LoadPage('report-expense')">
        <md-icon>broken_image</md-icon>
        <span>Expense</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ProductCancelView">
      <button md-menu-item (click)="LoadPage('transaction-cancel')">
        <md-icon>restore</md-icon>
        <span>Cancelled</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ReportView">
      <button md-menu-item (click)="LoadPage('report-list')">
        <md-icon>trending_up</md-icon>
        <span>Cashflow</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ReportBalanceSummaryView">
      <button md-menu-item (click)="LoadPage('report-balancing')">
        <md-icon>assignment</md-icon>
        <span>Balancing</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SnapshotView">
      <button md-menu-item (click)="LoadPage('snapshot-list')">
        <md-icon>photo_camera</md-icon>
        <span>Snapshot</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.UserView">
      <button md-menu-item (click)="LoadPage('user-list')">
        <md-icon>supervisor_account</md-icon>
        <span>User</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.AccessView">
      <button md-menu-item (click)="LoadPage('access-list')">
        <md-icon>accessibility</md-icon>
        <span>Access</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ModuleSettingView">
      <button md-menu-item (click)="LoadPage('setting-module')">
        <md-icon>settings</md-icon>
        <span>Modules</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SystemSettingView">
      <button md-menu-item (click)="LoadPage('setting-system')">
        <md-icon>settings_applications</md-icon>
        <span>System</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.User.UID;else showSignOut">
      <button md-menu-item (click)="DA.LogOut()">
        <md-icon>exit_to_app</md-icon>
        <span>Log Out</span>
      </button>
    </ng-container>
    <ng-template #showSignOut>
      <button md-menu-item (click)="LoadPage('user-login')">
        <md-icon>lock_open</md-icon>
        <span>Log In</span>
      </button>
    </ng-template>
    <div class="vMediumSpacer"></div>
  </div>
</div>
<div class="divBody">
  <div class="vBigSpacer"></div>
  <div class="main">
    <div class="toolbar">
      <div class="header">{{ DL.TITLE }}</div>
    </div>
    <div class="inside">
      <div class="vSmallSpacer"></div>
      <ng-container #viewChild></ng-container>
    </div>
  </div>
  <div class="footer">
    <div><img md-card-avatar src="favicon-192x192.png"></div>
    <div>{{ DL.SystemSetting.Footer }}</div>
  </div>
</div>
<div class="loading" [style.width]="loader">
  <div class="loaderFrame">
    <div class="loader"></div>
    <div class="loaderFooter">
      Loading Resources...
    </div>
  </div>
</div>
<div [hidden]="true">
  <md-card>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>