<div class="item">
  <div class="itemHeader">
    <div class="itemName">Module Status</div>
  </div>
  <table>
    <tr>
      <td style="vertical-align: top;">
        <table>
          <thead>
            <tr>
              <th>
                Module
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tr>
            <td>
              Cashier
            </td>
            <td>
              In-progress
            </td>
          </tr>
          <tr>
            <td>
              Access rights
            </td>
            <td>
              In-progress
            </td>
          </tr>
        </table>
      </td>
      <td class="tdSeparator"></td>
      <td style="vertical-align: top;">
        <table>
          <thead>
            <tr>
              <th>
                Module
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tr>
            <td>
              Membership
            </td>
            <td>
              Stabilizing
            </td>
          </tr>
          <tr>
            <td>
              Catalog
            </td>
            <td>
              Stabilizing
            </td>
          </tr>
          <tr>
            <td>
              Product
            </td>
            <td>
              In-progress
            </td>
          </tr>
          <tr>
            <td>
              Delivery
            </td>
            <td>
              In-progress
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>