<div>
  <div>
    <table>
      <tr>
        <td class="items">
          <div class="configLabel">
            Delivery
          </div>
          <div>
            <md-input-container>
              <input id="txtDeliveryMaxTime" type="number" mdInput placeholder="Delivery Max Minutes" [(ngModel)]="model.DeliveryMaxMinutes" />
            </md-input-container>
          </div>
          <div>
            <md-slide-toggle [(ngModel)]="model.DeliveryIsToggleSell">
              Toggle Delivery / Sell
            </md-slide-toggle>
          </div>
        </td>
        <td class="tdSeparator"></td>
        <td class="items">
          <div class="configLabel">
            General
          </div>
          <div>
            <md-slide-toggle [(ngModel)]="model.ModuleIsNotify">
              Show Notification
            </md-slide-toggle>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab (click)="Save()" [disabled]="!DL.UserAccess.ModuleSettingEdit" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
  </div>
</div>