::ng-deep .mat-slide-toggle-content {
    font-size: inherit;
}

.configLabel {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.items {
    vertical-align: top;
}

.items div:not(.configLabel) {
    margin-top: 10px;
    margin-bottom: 10px;
}