<div>
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">{{ model.Name }}</div>
    </div>
    <div class="itemDescription">
      {{ model.Description }}
    </div>
    <div class="imageContainer">
      <img class="fullWidth" src="{{model.ImageURL}}" />
    </div>
    <div class="itemControl mainColor">
      <div>
        Price: {{ DL.CURRENCY }} {{ model.Price | number:'1.2-2' }}
      </div>
      <div class="vMediumSpacer"></div>
      <div>
        <div>
          <md-form-field class="date">
            <input mdInput [mdDatepicker]="from" placeholder="From Date" (dateChange)="DataChanged()" [(ngModel)]="FromDate">
            <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
            <md-datepicker #from></md-datepicker>
          </md-form-field>
          <md-form-field class="date">
            <input mdInput [mdDatepicker]="to" placeholder="To Date" (dateChange)="DataChanged()" [(ngModel)]="ToDate">
            <md-datepicker-toggle mdSuffix [for]="to"></md-datepicker-toggle>
            <md-datepicker #to></md-datepicker>
          </md-form-field>
        </div>
      </div>
      <div>
        <div *ngIf="!isReserving">
          <button md-raised-button [disabled]="!FromDate || !ToDate || !CanAdd()" (click)="ShowReserve()">
            <md-icon>done</md-icon>
            <span>Reserve</span>
          </button>
        </div>
        <div *ngIf="isReserving">
          <button md-raised-button (click)="HideReserve()">
            <md-icon>assignment_return</md-icon>
            <span>Cancel</span>
          </button>
          <button md-raised-button [disabled]="!FromDate || !ToDate || !CanAdd()" (click)="Reserve()">
            <md-icon>done_all</md-icon>
            <span>Confirm</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rightRow mainColor">
  <button md-raised-button (click)="LoadList()" mdTooltip="Go to reservation" mdTooltipPosition="above">
    <md-icon>room_service</md-icon>
    <span>Go to reservation</span>
  </button>
</div>