<div>
  <table>
    <thead>
      <tr>
        <th>
          Buyer
        </th>
        <th>
          Time
        </th>
        <th class="totalColumn">
          Count
        </th>
        <th class="totalColumn">
          Amount
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngIf="DL.ReportSelected.Count < 1;else showReport">
      <tr class="blankCell">
        <td colspan="5">
          [ no item to show ]
        </td>
      </tr>
    </ng-container>
    <ng-template #showReport>
      <ng-container *ngFor="let tran of DL.TransactionSelected">
        <tr>
          <td>
            {{ tran.BuyerName }}
          </td>
          <td>
            {{ this.core.numberToDate(tran.ActionDate) | date : 'hh:mm a' }}
          </td>
          <td class="totalColumn">
            {{ tran.Count }}
          </td>
          <td class="totalColumn">
            {{ tran.Amount | number:'1.2-2' }}
          </td>
          <td class="rightRow">
            <button md-mini-fab (click)="SelectTransaction(tran)" mdTooltip="View"><i class="material-icons">pageview</i></button>
          </td>
        </tr>
      </ng-container>
      <tr class="blankCell">
        <td>
          Total
        </td>
        <td></td>
        <td class="totalColumn">
          {{ DL.ReportSelected.Count }}
        </td>
        <td class="totalColumn">
          {{ DL.ReportSelected.Amount | number:'1.2-2' }}
        </td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </table>
  <div class="hSpacer"></div>
  <table>
    <tr class="rightRow">
      <td class="selectionRow">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" placeholder="Report Date" [(ngModel)]="ReportDate">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
      </td>
    </tr>
    <tr class="rightRow">
      <td>
        <button md-fab [disabled]="!ReportDate" (click)="TransactionView()" mdTooltip="View transactions" mdTooltipPosition="above"><i class="material-icons">pageview</i></button>
      </td>
    </tr>
  </table>
</div>