<div>
  <table>
    <thead>
      <tr>
        <th>
          Buyer
        </th>
        <th>
          Time
        </th>
        <th class="totalColumn">
          Count
        </th>
        <th class="totalColumn">
          Amount
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let tran of DL.TransactionSelected">
      <tr>
        <td>
          {{ tran.BuyerName }}
        </td>
        <td>
          {{ this.core.numberToDate(tran.ActionDate) | date : 'hh:mm a' }}
        </td>
        <td class="totalColumn">
          {{ tran.Count }}
        </td>
        <td class="totalColumn">
          {{ tran.Amount | number:'1.2-2' }}
        </td>
        <td class="rightRow">
          <button md-mini-fab [disabled]="!DL.UserAccess.TransactionDetail" (click)="SelectTransaction(tran)" mdTooltip="View"><md-icon>pageview</md-icon></button>
        </td>
      </tr>
    </ng-container>
    <tr class="blankCell">
      <td>
        Total
      </td>
      <td></td>
      <td class="totalColumn">
        {{ DL.ReportSelected.SaleCount }}
      </td>
      <td class="totalColumn">
        {{ DL.ReportSelected.SaleAmount | number:'1.2-2' }}
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="hSpacer"></div>
  <table [hidden]="!DL.UserAccess.TransactionSearch">
    <tr class="rightRow">
      <td class="selectionRow">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" placeholder="Report Date" [(ngModel)]="ReportDate">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
      </td>
    </tr>
    <tr class="rightRow">
      <td>
        <button md-fab [disabled]="!ReportDate" (click)="TransactionView()" mdTooltip="View transactions" mdTooltipPosition="above"><md-icon>search</md-icon></button>
      </td>
    </tr>
  </table>
</div>