@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Geneva,Tahoma,Verdana,sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
}

td, th {
    padding: 5px;
    text-align: left;
}

.hSpacer {
    margin-top: 10px;
    height: 20px;
}

.blankCell td {
    height: 35px;
    font-weight: bold;
    vertical-align: bottom;
}

.totalColumn {
    text-align: right;
}