@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
	font-size: 12px;
	font-style: normal;
    font-variant: normal;
}

.navContainer {
    width: 100%;
}

md-sidenav {
    position: fixed;
    width: 200px;
    height: 100vh;
}

.navSide {
    top: 0px;
    overflow-y: auto;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
}

.overlay {
    height: 100%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    overflow-x: hidden;
    transition: 0.2s;
}

.vBigSpacer {
    height: 80px;
}

.vMediumSpacer {
    height: 30px;
}

.vSmallSpacer {
    height: 15px;
}

.inside {
    background-color: #ffffff;
    margin: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
}

.divBody {
    min-height: calc(100vh - 90px);
}

.main {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 345px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    border: 1px solid #fafafa;
}

.navbar { 
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0px;
}

.objectActive {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}
  
.objectActive:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 4px 2px rgba(0,0,0,0.22);
}

.h-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

td, th {
    padding: 3px;
    text-align: left;
}

th {
    vertical-align: text-top;
}

.tdSeparator {
    border-right: 1px solid #eeeeee;
}

textarea {
    height: 70px;
}

md-input-container {
    width: 120px;
}

.toolbar {
    padding: 15px;
    background-color: #f5f5f5;
}

.title {
   height: 50px;
   font-size: 20px;
}

.header {
    font-size: 15px;
    font-weight: bold;
}

.hSpacer {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
    height: 20px;
}

.blankCell td {
    height: 35px;
    font-weight: bold;
    vertical-align: bottom;
}

.totalColumn, .rightRow, .rightRow td {
    text-align: right;
}

.centerRow, .centerRow td {
    text-align: center;
}

.selectionRow {
    vertical-align: bottom;
}

.selectionRow md-select {
    padding-top: 25px;
}

.longText {
    width: 185px;
}

.fullWidth {
    width: 100%;
}

.footer {
    height: 38px;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    font-style: italic;
    color: gray;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eeeeee;
}

.footer div {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.bad {
    color: red;
}

.good {
    color: green;
}

.item {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    margin-top: 10px;
    margin-bottom: 30px;
}

.itemHeader {
    font-size: 14px;
    padding: 10px;
    background-color: #fafafa;
}

.itemName {
    font-weight: bold;
}

.itemDescription {
    padding: 20px;
    color: gray;
}

.itemFooter {
    padding: 20px;
}

.demo {
    margin-left: 10px;
    font-size: 12px;
}