@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
    font-variant: normal;
}

.navContainer {
    width: 100%;
}

.navSide {
    width: 225px;
    height: 100vh;
    overflow: auto;
}

.vBigSpacer {
    height: 80px;
}

.vMediumSpacer {
    height: 30px;
}

.vSmallSpacer {
    height: 15px;
}

.content {
    height: 100vh;
    overflow: auto;
}

.inside {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px dotted #eeeeee;
}

.divBody {
    min-height: calc(100vh - 90px);;
}

.main {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 345px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    border: 1px solid #fafafa;
}

.navbar { 
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0px;
}

.objectActive {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}
  
.objectActive:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 4px 2px rgba(0,0,0,0.22);
}

.h-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

td, th {
    padding: 3px;
    text-align: left;
}

textarea {
    height: 70px;
}

md-input-container {
    width: 120px;
}

.toolbar {
    padding: 15px;
    background-color: #f5f5f5;
}

.title {
   height: 50px;
   font-size: 20px;
}

.header {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.hSpacer {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
    height: 20px;
}

.blankCell td {
    height: 35px;
    font-weight: bold;
    vertical-align: bottom;
}

.totalColumn {
    text-align: right;
}

.rightRow, .rightRow td {
    text-align: right;
}

.centerRow, .centerRow td {
    text-align: center;
}

.selectionRow {
    vertical-align: bottom;
}

.selectionRow md-select {
    padding-top: 25px;
}

.longText {
    width: 185px;
}

.fullWidth {
    width: 100%;
}

.footer {
    height: 38px;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-style: italic;
    color: gray;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eeeeee;
}

.footer div {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}