<div>
  <fieldset>
    <legend>Product List</legend>
    <table>
      <thead>
        <tr>
          <td>
            CODE
          </td>
          <td>
            PRICE
          </td>
          <td>
            QUANTITY
          </td>
           <td>
          </td>
          <td>
            ACTIONS
          </td>
        </tr>
      </thead>
      <ng-container *ngFor="let product of DL.Products">
        <tr>
          <td>
            {{product.Code}}
          </td>
          <td>
            {{product.SellPrice}}
          </td>
          <td class="{{ (product.NotifyQuantity >= product.Quantity) ? 'quantityNotify' : 'quantityOK' }}">
            {{product.Quantity}}
          </td>
           <td>
          </td>
          <td>
            <button md-mini-fab (click)="SelectProduct(product)"><i class="material-icons">pageview</i></button>
          </td>
        </tr>
      </ng-container>
    </table>
  </fieldset>
  <div class="hSpacer"></div>
  <div>
    <button md-fab (click)="AddProduct()" mdTooltip="Add" mdTooltipPosition="above"><i class="material-icons">note_add</i></button>
  </div>
</div>