<div>
  <table>
    <thead>
      <tr>
        <td>
          CODE
        </td>
        <td>
          PRICE
        </td>
        <td>
          QUANTITY
        </td>
        <td>
          ACTIONS
        </td>
      </tr>
    </thead>
    <ng-container *ngFor="let product of DL.Products">
      <tr>
        <td>
          {{product.Code}}
        </td>
        <td>
          {{product.SellPrice}}
        </td>
        <td>
          {{product.Quantity}}
        </td>
        <td>
          <button md-raised-button (click)="SelectProduct(product)">View</button>
        </td>
      </tr>
    </ng-container>
    <tr>
        <td colspan="4">      
          <button md-raised-button (click)="AddProduct()">Add</button>
        </td>
      </tr>
  </table>
</div>